testni_podatki/*
!testni_podatki/vir.txt
testno_okolje/common/pki/
testno_okolje/common/out/
testno_okolje/common/server/testset/
testno_okolje/common/server/sites.caddy
testno_okolje/common/switch/build/
testno_okolje/common/ids/testset.rules
clab-*/
__pycache__/
*.pyc
dokumentacija/zapiski/*
