testni_podatki/*
!testni_podatki/vir.txt
testno_okolje/common/pki/
testno_okolje/common/out/
testno_okolje/common/server/testset/
testno_okolje/common/server/sites.caddy
testno_okolje/common/switch/build/
clab-*/
__pycache__/
*.pyc
dokumentacija/zapiski/*
mitmproxy-quic-transparent/
P4-TLS/
