testni_podatki/*
!testni_podatki/vir.txt
testno_okolje/okolje/pki/
testno_okolje/okolje/out/
testno_okolje/okolje/server/testset/
testno_okolje/okolje/server/sites.caddy
testno_okolje/okolje/switch/build/
clab-*/
.pytest_cache/
__pycache__/
*.pyc
dokumentacija/zapiski/*
mitmproxy-quic-transparent/
P4-TLS/
